@import "base/reset.scss";
@import "base/typography";

/*------------------------------\
    TESTING / PRODUCTION
\------------------------------*/
svg {
  width: auto;
  height: 20px;
}

body {
  padding: 1rem;
}

nav {
  display: none;
}

